*{margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
/* sprite*/
.icon {
    background-image: url("../img/pict/sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.icon-ico-arrow-down {
    width: 18px;
    height: 29px;
    background-position: -10px -10px;
}

.icon-ico-ballon {
    width: 44px;
    height: 65px;
    background-position: -48px -10px;
}

.icon-ico-binokl {
    width: 72px;
    height: 34px;
    background-position: -112px -10px;
}

.icon-ico-camera {
    width: 65px;
    height: 50px;
    background-position: -112px -64px;
}

.icon-ico-glass {
    width: 75px;
    height: 28px;
    background-position: -10px -134px;
}

.icon-ico-hand {
    width: 56px;
    height: 58px;
    background-position: -105px -134px;
}

.icon-ico-mail {
    width: 23px;
    height: 17px;
    background-position: -181px -134px;
}

.icon-ico-map-point {
    width: 35px;
    height: 50px;
    background-position: -204px -10px;
}

.icon-ico-plane {
    width: 41px;
    height: 40px;
    background-position: -224px -80px;
}

.icon-ico-question {
    width: 40px;
    height: 34px;
    background-position: -224px -140px;
}

.icon-ico-slider-arrow {
    width: 20px;
    height: 33px;
    background-position: -10px -194px;
}

.icon-ico-socio-fb {
    width: 22px;
    height: 23px;
    background-position: -50px -194px;
}

.icon-ico-socio-inst {
    width: 22px;
    height: 23px;
    background-position: -181px -194px;
}

.icon-ico-socio-vk {
    width: 22px;
    height: 23px;
    background-position: -223px -194px;
}


/* модульная сетка*/
.row:after,
.row:before{
	content: "";
	display: table;
}
.row:after{
	clear: both;
}
.col{
	float: left;
	box-sizing:border-box;
	padding: 0 18px;
	min-height: 1px;
}
.s-1{ width: 8.33%;}
.s-2{width: 16.66%;}
.s-3{width: 25%;}
.s-4{width: 33.33%;}
.s-5{width: 41.66%;}
.s-6{width: 50%;}
.s-7{width: 58.33%;}
.s-8{width: 66.66%;}
.s-9{width: 75%;}
.s-10{width: 83.11%;}
.s-11{width: 91.66%;}
.s-12{width: 100%;}
.s-20{width: 20%;}
.to-right{
	float: right;
}
/*buttons*/
.btn{
 display: inline-block;
 vertical-align: top;
 text-decoration: none;
 outline: none;
 cursor: pointer;
 background: none;
}

.btn--more{
 font-size: 18px;
 line-height: 22px;
 color: #fff;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 padding: 9px 14px;
 border: 1px solid #fff;
 position: relative;
}

.btn--more::after{
 content: "";
 display: block;
 background-image: url("../img/pict/sprite.png");
 background-repeat: no-repeat;
 width: 18px;
 height: 29px;
 background-position: -10px -10px;
 position: absolute;
 top: 75px;
 left: 50%;
 transform:translateX(-50%);

}

/* title */
.second-title{
font-size: 32px;
line-height: 36px;
font-weight: 500;
position: relative;
padding-bottom: 24px;
margin-bottom: 45px;
margin-top: 0;
}

.second-title::after{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 60px;
height: 6px;
background: #3e98d7;
}
.second-title--center{
	text-align: center;
}
.second-title--center::after{
left: 50%;
transform:translateX(-50%);
}
.second-title--center-fly{
  margin-bottom: 100px;
  text-align: center;
}
.second-title--center-fly::after{
left: 50%;
transform:translateX(-50%);
}

body {
	min-width: 1200px;
	font-family: "Roboto", "Arial", sans-serif;
	color: #444444;
	font-size: 18px;
	line-height: 24px;
}
/*container*/
.container {
	width: 1200px;
	margin: 0 auto;	
}

/*nav row*/
.navigation-row{
	padding: 15px 0;
	background: #2c2c2c;
	color: #fff;
}

.logo {
 line-height: 34px;
 font-size: 22px;	
 font-weight: 500;
 vertical-align: middle;
}
.main-navigation{
text-align: right;
font-size: 0;
}
.main-navigation_item{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	line-height: 22px;
	padding: 5px 10px;
	margin-left: 10px;
	border: 1px solid transparent;
}
.main-navigation_item:hover,
.main-navigation_item--active{
border: 1px solid #fff;
}
/*promo block*/
.promo-block{
	padding: 170px 0px 170px;
	background-color: #a8c5ed;
	background-image: url("../img/pict/bg-header.png");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center top;
	text-align: center;
	color: #fff;
	
	background-repeat: no-repeat;
	}
.promo-block_title{
	margin: 0 auto;
	font-size: 66px;
	line-height: 70px;
	font-weight: 500;
	width: 750px;
}
.promo-block .btn{
	margin-top: 170px;
	
}

/*feautures*/
.feautures {
	padding: 60px 0 80px;

}
.feautures-item{
padding-left: 80px;
width: 230px;
position: relative;
 font-size: 18px;
 font-weight: 500;
}
.feautures-item::before{
content: "";
 background-image: url("../img/pict/sprite.png");
 background-repeat: no-repeat;
 position: absolute;
left: -5px;
}

.feautures-item--reliablly::before{
  width: 56px;
  height: 58px;
  background-position: -105px -134px;
  margin-top: -5px;
  margin-left: 10px;
  
}

.feautures-item--learn::before{
  margin-top: 10px;
  margin-left: -10px;
 width: 75px;
 height: 28px;
 background-position: -10px -134px;
}


.feautures-item--photo::before{
 width: 65px;
 height: 50px;
 background-position: -112px -64px;
}

.feautures-item--view::before{
 width: 72px;
 height: 34px;
 background-position: -112px -10px;
 margin-top: 10px;
}
/*about*/
.about {
padding-bottom: 120px;
border-bottom: 1px solid #ccc;
}
.about_text {
margin: 0;
margin-bottom: 25px;
}
.about_text:last-child {
margin-bottom: 0;	
}
.content-video{
 min-height: 340px;

}
..content-video img{
	width: 100%;
	height: 100%;
}
/*gallery*/
.gallery{
 padding: 90px 0 90px;
 text-align: center;
}

/*slider*/
.slider {
 width: 100%;
 position: relative;
 text-align: center;
 font-size: 0;
}

.slider_item{
 display: inline-block;
 vertical-align: center;
 width: 260px;
 height: 260px;
 margin: 0 7px;
overflow: hidden;
opacity: .8;
cursor:pointer;
}
.slider_item:hover{
opacity: 1;
}
.owl-next,
.owl-prev {
width: 60px;
height: 60px;
background-repeat: no-repeat;
}
.owl-next{
background-image: url(../img/pict/sprite/ico-slider-arrow-right.png);
}

.owl-prev{
background-image: url(../img/pict/sprite/ico-slider-arrow-left.png);
}
/*.slider_control{
 position: absolute;
 top: 50%;
 margin-top: -17px;
 font-size: 10px;
 background-color: transparent;
 background-image: url("../img/pict/sprite.png");
 background-repeat: no-repeat;
 border:none;
 width: 20px;
 height: 33px;
 background-position: -10px -194px;
 opacity: .5;
}
.slider_control:hover{
	opacity: 1;
}
.slider_control--next {
right: 0;
}

.slider_control--prev {
left: 0;
transform:rotate(-180deg);
}*/

/*about-fly*/
.about-fly{
  background: #91a985;
 text-align: center;
  background-image: url("../img/pict/bg-middle.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
	

}
.about-fly_process{
 position: relative;
 min-height: 500px;

}
.about-fly_process img{
  margin-top: 170px;
}

/*about fly bottom*/

.about-fly_bottom{

 padding: 30px 0;
 background: rgba(0,0,0,.4);
 text-align: left;
 color: #26668e;	
 background-color: #f2f2f2;
}
.counter-title {
 font-size: 32px; 
 font-weight: 500;
}
.counter {

}
.counter_item {
  font-size: 32px;
  font-weight: 500;
  padding-right: 40px;
}
.counter-text {
padding-left: 6px;
  font-size: 22px;
}
.getting-started{
font-size: 32px;
}
/* counter - new*/

/*ballon*/

.ballon {
 width: 110px;
 position: absolute;

}

.ballon--1{
 top: 240px;
 left: 30px;
    width: 44px;
    height: 65px;
    background-position: -48px -10px;
}
.ballon_title{
  font-size: 18px;
  color: #454545;
  font-weight: 500;
}
.ballon_image{
     background-image: url("../img/pict/sprite.png");
 background-repeat: no-repeat;
    width: 44px;
    height: 65px;
    background-position: -48px -10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 9px;
}
.ballon--2{
 top: 160px;
 left: 288px;
     width: 44px;
    height: 65px;
    background-position: -48px -10px;
}

.ballon--3{
 top: 50px;
 left: 50%;
 transform: translateX(-50%);
     width: 44px;
    height: 65px;
    background-position: -48px -10px;
}

.ballon--4{
 top: 160px;
 right: 288px;
     width: 44px;
    height: 65px;
    background-position: -48px -10px;
}

.ballon--5{
 top: 240px;
 right: 30px;
     width: 44px;
    height: 65px;
    background-position: -48px -10px;
}

/*counter*/
.counter {
 text-align: right;
}
.counter_item{
 display: inline-block;
 vertical-align: top;
}

.payment {
 padding: 80px 0;
 border-bottom: 1px solid #ccc;
 margin-bottom: 70px;
}
.payment_text{
  margin-bottom: 14px;
}
.getting-started {

}
/*form*/
label{
 vertical-align: middle;
margin-bottom: 20px;
width: 400px;
}
.inputs{
  border: 1px solid #d5d5d5;
  position: relative;
  width: 355px;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.input-telephone{
background-image: url("../img/pict/telephone-form.png");
background-repeat: no-repeat;
 position: absolute;
height: 40px;
  width: 19px;
  height: 19px;
  left: 0px;
  margin: 10px 10px;
}
.input-name{

background-image: url("../img/pict/user-form.png");
background-repeat: no-repeat;
 position: absolute;
 
  width: 15px;
  height: 15px;
  left: 0px;
  top: 1px;
  margin: 10px 10px;
}


input {
 /*border: 1px solid #d5d5d5;*/
 position: relative;
 border:transparent;
 background-color: transparent;
 
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 margin-bottom: 20px;
 height: 40px;
 width: 355px;
 vertical-align: middle;
 padding-left: 38px;
 outline: none;
 
}

select {
  border: 1px solid #d5d5d5;
 border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 margin-bottom: 20px;
 height: 40px;
 width: 355px; 
 padding-left: 5px;
 vertical-align: middle;
  outline: none;
}
.btn--blue{
   border: none;
 border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 background-color: #46b0dc;
 color: #fff;
padding: 12px 36px ;
 font-size:18px;
 float: right;
 margin-right: -12px;
 vertical-align: middle;
}
.payment_summary{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.payment_summary .big-price{
  font-size: 38px;
  vertical-align: middle;
  color: #f97e7e;
padding-left: 12px;
}
/*Payments methods and FAQ*/

.question_title{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
 }
.question_icon {
  vertical-align: middle;
  padding-right: 18px;
}
 
.faq_text{
  font-size: 16px;
  padding-left: 80px;
  margin-bottom: 65px;
}
.payment_title {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 36px;
}
.payment_text {
  margin-bottom: 30px;
}
/*statistic*/

.statistic{
  background-color: #ff4;
  height: 374px;
  background-image: url("../img/pict/bg-statistic.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center top;
  text-align: center;
    vertical-align: middle;
  }
 .statistic-item{
  border: 6px solid #fff;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 72px;
  margin-left: 80px;
  text-align: center;
  vertical-align: middle;

   } 
  
  .statistic-item:last-child {

    margin-right: 80px;
  }
  .statistic-item_number{
   vertical-align: middle;
   padding-top: 65px;
   text-align: center;
  font-size: 42px;
  color: #fff;
  } 
 .statistic-item_title {
  margin-top: 105px;
  font-size: 24px;
  color: #fff;
  min-width:230px; 
  vertical-align: middle;
  text-align: center;
  margin-left: -35px;

 }

    


 
/*team*/
.team {
 padding: 90px 0;
 text-align: center;
}

.team-item_name{
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
}
.team-item_work{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;  
}
.team-item_image--1{
 background-color: #fff;
 cursor:pointer;
}
.team-item_image--1 img{
 
 opacity: 1;
 transition: opacity 0.3s linear;
}
.team-item_image--1:hover img{
 opacity: 0;
}
.team-item_image--1:hover{
background-position: center top;
background-image: url("../img/team-1-1.png");
background-repeat: no-repeat;
}
/*feedback-item*/
.feedback {
text-align: center;
 padding-bottom: 110px;
}
.feedback-item {
  display: inline-block;
 width: 455px;
 font-size: 13px;
 text-align: center;
 margin-right: 40px;

}
.2photo-block {
 width: 100%;
display: inline-block;
 position: relative;
 text-align: center;
 font-size: 0;
}

.2photo-block_item{
 display: inline-block;
 vertical-align: center;
 width: 260px;
 height: 260px;
 margin: 0 7px;
overflow: hidden;
cursor:pointer;
}
.feedback-item_name {
font-size: 22px;
margin-top: 26px;
font-weight: 500px;
}
.feedback-item_text{
  font-size: 18px;
  margin-top: 26px;
  font-weight: 400;
 }
/*contacts*/
.contacts {
padding: 25px 0 130px;
background-color: #c4e0f5 ;
background-image: url("../img/pict/bg-footer.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center top;
}

.contacts_title {
padding-top: 28px;
text-align: center;
margin: 0 auto 50px;
width: 430px;
font-size: 26px;
font-weight: 500;

}

.street-name{
  font-size: 18px;
  font-weight: 500;
  margin-top: 14px;
  color: #616161;
}
.contacts_title img{

 background-color: #337ba0;
 text-align: center;
 border-radius: 5px;
 padding: 12px;
 display: block;
 margin: 0 auto 28px;

}
.adress{

background-image: url("../img/pict/sprite.png");
background-repeat: no-repeat;
width: 35px;
height: 50px;
background-position: -204px -10px;
}
.adress_title{
  font-size: 22px;
  font-weight: 500;
  width: 300px;
  margin-left: 50px;
}
.adress_text{
  margin-left: 50px;
  width: 300px; 
  color: #525252;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}
.adress_phone{
  margin-left: 50px;
  width: 300px;
  font-size: 26px;
  font-weight: 500;
  color: #292929;
  margin-top: 20px;
}
.street-name{
  display: block;
}
.email {
color: #444444;
font-size: 22px;

}
.email img {
  margin-right: 22px;
}
.socio {
  margin-top: 28px;
}
.socio_item {
padding-right: 22px;
  opacity: 1;
}
.socio_item:hover {
  opacity: .8;
}
.navigation-row img {
  float: right;
  padding-right: 20px;
}
.owl-next,
.owl-prev {
width: 20px;
height: 33px;
background-repeat: no-repeat;
}
.owl-next{
background-image: url("../img/pict/sprite/arrow-right.png");
}

.owl-prev{
background-image: url("../img/pict/sprite/arrow-left.png");
}